<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="container">
    <div class="my-spacing"></div>
    <h1 class="font-weight-bold spaced-words-welcome fade-in-up text-center text-white">All Brands</h1>
    <div class="my-spacing"></div>

    <div class="row fade-in-up">
        <div th:each="brand, rowStat : ${allBrands}"
             class="col-md-3 mb-4 d-flex justify-content-center">
            <a th:href="@{/models/{brandId}(brandId=${brand.id})}"
               class="d-flex justify-content-center">
                <div class="card bg-brands">
                    <img class="card-img-top img-fluid image-fixed-size"
                         th:unless="${#strings.isEmpty(brand.imageUrl)}"
                         th:src="*{brand.imageUrl}" alt="Car image">
                    <img class="card-img-top img-fluid image-fixed-size"
                         th:if="${#strings.isEmpty(brand.imageUrl)}"
                         th:src="@{/img/no-image.jpg}" alt="Car image">

                    <a th:href="@{/brands/edit/{brandId}(brandId=${brand.id})}" class="edit-icon mx-1">
                        <img th:src="@{/img/edit-icon.png}" alt="Edit Icon" width="16" height="16">
                    </a>
                    <div class="card-body text-center text-left h5 font-weight-light spaced-words-welcome my-text-color">
                        <span th:text="${brand.name}"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
