<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<h1 class="font-weight-bold spaced-words fade-in-up text-center text-white"
    style="padding-top: 2%; padding-bottom: 2%;">Compare</h1>

<div class="container fade-in-up">
    <form id="compareForm justify-context-center">
        <div class="form-group bg-blur rounded">
            <label for="brand1" class="text-white label-holder d-flex justify-content-start h2 mb-2">Brand</label>
            <select id="brand1" class="custom-select" name="brand1">
                <th:block th:each="brand : ${brands}">
                    <option th:value="${brand.id}" th:text="${brand.name}"></option>
                </th:block>
            </select>

            <label for="model1"
                   style="padding-top: 2%;"
                   class="text-white label-holder d-flex justify-content-start h2 mb-2">Model</label>
            <select id="model1" class="custom-select" name="model1">
                <th:block th:each="model : ${models}">
                    <option th:value="${model.id}" th:text="${model.name}"></option>
                </th:block>
            </select>

            <label for="details1"
                   style="padding-top: 2%;"
                   class="text-white label-holder d-flex justify-content-start h2 mb-2">Engine</label>
            <select id="details1" class="custom-select" name="details1">
                <th:block th:each="detail : ${details}">
                    <option th:value="${detail.id}" th:text="${detail.engine.size} + 'L'"></option>
                </th:block>
            </select>
            <div class="my-spacing col-12"></div>
        </div>

        <h1 class="font-weight-bold spaced-words fade-in-up text-center text-white"
            style="padding-top: 1%; padding-bottom: 2%;">To</h1>

        <div class="form-group bg-blur rounded">
            <label for="brand2" class="text-white label-holder d-flex justify-content-start h2 mb-2">Brand</label>
            <select id="brand2" class="custom-select" name="brand2">
                <th:block th:each="brand : ${brands}">
                    <option th:value="${brand.id}" th:text="${brand.name}"></option>
                </th:block>
            </select>

            <label for="model2"
                   style="padding-top: 2%;"
                   class="text-white label-holder d-flex justify-content-start h2 mb-2">Model</label>
            <select id="model2" class="custom-select" name="model2">
                <th:block th:each="model : ${models}">
                    <option th:value="${model.id}" th:text="${model.name}"></option>
                </th:block>
            </select>

            <label for="details2"
                   style="padding-top: 2%;"
                   class="text-white label-holder d-flex justify-content-start h2 mb-2">Engine</label>
            <select id="details2" class="custom-select" name="details2">
                <th:block th:each="detail : ${details}">
                    <option th:value="${detail.id}" th:text="${detail.engine.size} + 'L'"></option>
                </th:block>
            </select>
            <div class="my-spacing col-12"></div>
        </div>
        <div class="my-spacing col-12" style="padding-bottom: 1%;"></div>
        <button type="button"
                id="compareButton"
                onclick="compareCars()"
                class="btn btn-success fade-in-up col-12 compare-button-height"
                style="display: none"><h2 class="spaced-words">Compare</h2></button>
    </form>

    <div id="comparisonResults"></div>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>

<script th:src="@{/js/compare.js}"></script>
</body>
</html>
