<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="my-spacing"></div>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-transparent">Edit Model</span></h1>
    <div class="my-spacing"></div>

    <form class="mx-auto w-75 bg-blur rounded"
          th:method="POST"
          th:action="@{/models/edit/{brandId}/{modelId}(brandId=${brandId1}, modelId=${readModelsDTO.id})}"
          th:object="${readModelsDTO}">

        <div class="form-group">
            <label for="name" class="text-white h4">Model Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required />
        </div>

        <div class="form-group">
            <label for="imageUrl" class="text-white h4">Image URL:</label>
            <input type="text" class="form-control" id="imageUrl" th:field="*{imageUrl}" />
            <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">Image URL error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Save Changes">Save Changes</button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>